* {
    font-family: 'Courier New', Courier, monospace;
    border: dashed 0x black;
    text-align: center;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: flex;
    box-sizing:border-box;
    flex-direction: column;
    justify-content: space-between;
    background-color: burlywood;
}

.header,
.footer {
    background-color: blanchedalmond;
}


.etchASketchContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.etchASketchLeft,
.etchASketchRight {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: brown;
}

#etchASketch {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
    height: 720px;
    margin: 0;
}

.square {
    /*width: 32px;
    height: 32px;*/
    flex-basis: 6.25%;
    box-sizing: border-box;
    border: 0.5px dashed darkred;
    transition: all;
    transition-duration: 1s;
}

.square:hover {
    background-color: darkorange;
    transition: all;
    transition-duration: 0.1s;
    
}



